body {
    padding-bottom: 80px;
}
table {
    align-self: center;
    max-width: 80%;
}
td, th {
    border: none !important;
}

iframe{
    max-width: 90%;
}

.card {
    width: 100%;
}

@media (min-width: 992px) {
    .card {
        width: 18rem;
    }
}